In [7]:
# Imports 
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [8]:
# get files to load

e_file = "C:/Hany/Data Analyst Course/Homework/HTML/etl-project/resources/english.csv"
g_file = "C:/Hany/Data Analyst Course/Homework/HTML/etl-project/resources/german.csv"
s_file = "C:/Hany/Data Analyst Course/Homework/HTML/etl-project/resources/spanish.csv"

leagues_file = "C:/Hany/Data Analyst Course/Homework/HTML/etl-project/resources/leagues.csv"

In [25]:
#load data into pandas dataframe

english = pd.read_csv(e_file)
german = pd.read_csv(g_file)
spanish = pd.read_csv(s_file)
leagues = pd.read_csv(leagues_file)

In [26]:
english.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,1,Patrick van Aanholt\Patrick-van-Aanholt,nl NED,DF,Crystal Palace,27,1990,36,36,3195,...,0.14,2.7,2.7,3.9,0.08,0.11,0.19,0.08,0.19,Matches
1,2,Sergio Agüero\Sergio-Aguero,ar ARG,FW,Manchester City,30,1988,33,31,2459,...,0.99,20.7,19.2,5.5,0.76,0.20,0.96,0.70,0.91,Matches
2,3,Nathan Aké\Nathan-Ake,nl NED,DF,Bournemouth,23,1995,38,38,3411,...,0.11,3.4,3.4,0.8,0.09,0.02,0.11,0.09,0.11,Matches
3,4,Marc Albrighton\Marc-Albrighton,eng ENG,FWMF,Leicester City,28,1989,27,18,1625,...,0.22,1.1,1.1,3.1,0.06,0.17,0.23,0.06,0.23,Matches
4,5,Toby Alderweireld\Toby-Alderweireld,be BEL,DF,Tottenham,29,1989,34,33,2922,...,0.00,1.1,1.1,0.6,0.03,0.02,0.05,0.03,0.05,Matches

In [29]:
german.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,1,Issah Abbas\Issah-Abbas,gh GHA,FW,Mainz 05,19,1998,1,0,9,...,0.00,0.0,0.0,0.0,0.17,0.00,0.17,0.17,0.17,Matches
1,2,David Abraham\David-Abraham,ar ARG,DF,Eint Frankfurt,32,1986,17,17,1420,...,0.00,0.4,0.4,0.1,0.03,0.01,0.03,0.03,0.03,Matches
2,3,Amir Abrashi\Amir-Abrashi,al ALB,MF,Freiburg,28,1990,10,9,790,...,0.00,0.2,0.2,0.1,0.02,0.01,0.02,0.02,0.02,Matches
3,4,Tyler Adams\Tyler-Adams,us USA,MF,RB Leipzig,19,1999,10,8,721,...,0.25,0.2,0.2,0.7,0.03,0.09,0.12,0.03,0.12,Matches
4,5,Antonis Aidonis\Antonis-Aidonis,de GER,DF,Stuttgart,17,2001,2,1,80,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches

In [28]:
spanish.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,...,G+A-PK,xG,npxG,xA,xG.1,xA.1,xG+xA,npxG.1,npxG+xA,Matches
0,1,Antonio Adán\Antonio-Adan,es ESP,GK,Atlético Madrid,31.0,1987.0,1,1,90,...,0.00,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Aday\Aday,es ESP,DFMF,Girona,30.0,1987.0,10,8,645,...,0.28,0.2,0.2,0.8,0.03,0.11,0.14,0.03,0.14,Matches
2,3,Aritz Aduriz\Aritz-Aduriz,es ESP,FW,Athletic Club,37.0,1981.0,20,10,943,...,0.00,3.3,1.8,0.4,0.32,0.04,0.36,0.17,0.21,Matches
3,4,Luis Advíncula\Luis-Advincula,pe PER,DF,Rayo Vallecano,28.0,1990.0,28,27,2389,...,0.15,0.9,0.9,1.9,0.03,0.07,0.10,0.03,0.10,Matches
4,5,Martin Agirregabiria\Martin-Agirregabiria,es ESP,DF,Alavés,22.0,1996.0,27,23,2032,...,0.00,0.1,0.1,0.4,0.01,0.02,0.02,0.01,0.02,Matches

In [27]:
leagues.head()

            League Confederation  Country  No_Teams
0  Premiere League          UEFA  England        20
1       Bundesliga          UEFA  Germany        18
2          La Liga          UEFA    Spain        20

In [8]:
# displays all the column names in the spanish, german, and english dataframes

for col in spanish.columns:
    print(col)

Rk
Player
Nation
Pos
Squad
Age
Born
MP
Starts
Min
Gls
Ast
PK
PKatt
CrdY
CrdR
Gls.1
Ast.1
G+A
G-PK
G+A-PK
xG
npxG
xA
xG.1
xA.1
xG+xA
npxG.1
npxG+xA
Matches

In [64]:
#Remove Unnecessary Columns From English League and sort data based on best scorer
new_english = english.filter(['Rk','Player','Nation','Pos','Squad','Age','Born','MP','Starts','Min','Gls','Ast','PK','PKatt','CrdY','CrdR'], axis=1)
league = "EPL"
new_english.insert(0, 'League', league)
new_english.reset_index(drop=True, inplace=True)
new_english.index += 1 
new_english.index
new_english.head()

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,EPL,1,Patrick van Aanholt\Patrick-van-Aanholt,nl NED,DF,Crystal Palace,27,1990,36,36,3195,3,2,0,0,3,0
2,EPL,2,Sergio Agüero\Sergio-Aguero,ar ARG,FW,Manchester City,30,1988,33,31,2459,21,8,2,2,4,0
3,EPL,3,Nathan Aké\Nathan-Ake,nl NED,DF,Bournemouth,23,1995,38,38,3411,4,0,0,0,3,0
4,EPL,4,Marc Albrighton\Marc-Albrighton,eng ENG,FWMF,Leicester City,28,1989,27,18,1625,2,2,0,0,3,0
5,EPL,5,Toby Alderweireld\Toby-Alderweireld,be BEL,DF,Tottenham,29,1989,34,33,2922,0,0,0,0,3,0

In [94]:
new_english.describe()

,Rk,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
count,508.000000,508.000000,508.000000,508.000000,508.000000,508.000000,508.000000,508.000000,508.000000,508.000000,508.000000,508.00000
mean,254.500000,25.858268,1991.755906,20.629921,16.456693,1478.125984,2.045276,1.458661,0.165354,0.202756,2.440945,0.09252
std,146.791235,4.104598,4.086282,11.769183,12.098058,1050.822529,3.622186,2.254136,0.797073,0.948492,2.631634,0.30334
min,1.000000,15.000000,1979.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,127.750000,23.000000,1989.000000,10.000000,5.000000,522.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,254.500000,26.000000,1992.000000,22.000000,16.000000,1407.500000,1.000000,1.000000,0.000000,0.000000,2.000000,0.00000
75%,381.250000,29.000000,1994.000000,31.000000,27.000000,2347.500000,2.000000,2.000000,0.000000,0.000000,4.000000,0.00000
max,508.000000,39.000000,2003.000000,38.000000,38.000000,3420.000000,22.000000,15.000000,10.000000,11.000000,14.000000,2.00000

In [63]:
# EPL Top 10 Scorers
new_english = new_english.sort_values('Gls',ascending=False)
new_english.reset_index(drop=True, inplace=True)
new_english.index += 1 
new_english.index
new_english.head(10)

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,EPL,288,Sadio Mané\Sadio-Mane,sn SEN,FW,Liverpool,26,1992,36,35,3077,22,1,0,0,2,0
2,EPL,405,Mohamed Salah\Mohamed-Salah,eg EGY,FW,Liverpool,26,1992,38,37,3250,22,8,3,3,1,0
3,EPL,21,Pierre-Emerick Aubameyang\Pierre-Emerick-Aubam...,ga GAB,FW,Arsenal,29,1989,36,30,2726,22,5,4,5,0,0
4,EPL,2,Sergio Agüero\Sergio-Aguero,ar ARG,FW,Manchester City,30,1988,33,31,2459,21,8,2,2,4,0
5,EPL,468,Jamie Vardy\Jamie-Vardy,eng ENG,FW,Leicester City,31,1987,34,30,2726,18,4,4,5,3,1
6,EPL,235,Harry Kane\Harry-Kane,eng ENG,FW,Tottenham,25,1993,28,27,2424,17,4,4,4,5,0
7,EPL,446,Raheem Sterling\Raheem-Sterling,eng ENG,FW,Manchester City,23,1994,34,31,2771,17,9,0,0,3,0
8,EPL,191,Eden Hazard\Eden-Hazard,be BEL,FW,Chelsea,27,1991,37,32,2923,16,15,4,4,2,0
9,EPL,494,Callum Wilson\Callum-Wilson,eng ENG,FW,Bournemouth,26,1992,30,29,2528,14,9,1,2,3,0
10,EPL,387,Richarlison\Richarlison,br BRA,FWMF,Everton,21,1997,35,32,2665,13,1,0,0,5,1

In [62]:
# EPL Top 20 Players who played the highest number of minutes not matches
new_english = new_english.sort_values('Min',ascending=False)
new_english.reset_index(drop=True, inplace=True)
new_english.index += 1 
new_english.index
new_english.head(20)

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,EPL,88,Conor Coady\Conor-Coady,eng ENG,DF,Wolves,25,1993,38,38,3420,0,0,0,0,5,0
2,EPL,135,Ederson\Ederson,br BRA,GK,Manchester City,24,1993,38,38,3420,0,1,0,0,2,0
3,EPL,413,Kasper Schmeichel\Kasper-Schmeichel,dk DEN,GK,Leicester City,31,1986,38,38,3420,0,0,0,0,3,0
4,EPL,314,Luka Milivojević\Luka-Milivojevic,rs SRB,MF,Crystal Palace,27,1991,38,38,3420,12,2,10,11,10,0
5,EPL,308,Ben Mee\Ben-Mee,eng ENG,DF,Burnley,28,1989,38,38,3420,0,2,0,0,9,0
6,EPL,166,David de Gea\David-de-Gea,es ESP,GK,Manchester Utd,27,1990,38,38,3420,0,0,0,0,1,0
7,EPL,153,Ben Foster\Ben-Foster,eng ENG,GK,Watford,35,1983,38,38,3420,0,0,0,0,1,0
8,EPL,140,Neil Etheridge\Neil-Etheridge,ph PHI,GK,Cardiff City,28,1990,38,38,3420,0,0,0,0,2,0
9,EPL,142,Łukasz Fabiański\Lukasz-Fabianski,pl POL,GK,West Ham,33,1985,38,38,3420,0,0,0,0,0,0
10,EPL,369,Jordan Pickford\Jordan-Pickford,eng ENG,GK,Everton,24,1994,38,38,3420,0,0,0,0,1,0
11,EPL,7,Alisson\Alisson,br BRA,GK,Liverpool,25,1992,38,38,3420,0,0,0,0,1,0
12,EPL,128,Martin Dúbravka\Martin-Dubravka,sk SVK,GK,Newcastle Utd,29,1989,38,38,3420,0,0,0,0,1,0
13,EPL,3,Nathan Aké\Nathan-Ake,nl NED,DF,Bournemouth,23,1995,38,38,3411,4,0,0,0,3,0
14,EPL,26,César Azpilicueta\Cesar-Azpilicueta,es ESP,DF,Chelsea,28,1989,38,38,3402,1,5,0,0,4,0
15,EPL,123,Virgil van Dijk\Virgil-van-Dijk,nl NED,DF,Liverpool,27,1991,38,38,3384,4,2,0,0,1,0
16,EPL,134,Bruno Ecuele Manga\Bruno-Ecuele-Manga,ga GAB,DF,Cardiff City,30,1988,38,37,3376,0,1,0,0,0,0
17,EPL,361,Rui Patrício\Rui-Patricio,pt POR,GK,Wolves,30,1988,37,37,3329,0,0,0,0,1,0
18,EPL,93,Jack Cork\Jack-Cork,eng ENG,MF,Burnley,29,1989,37,37,3312,1,2,0,0,6,0
19,EPL,340,Wilfred Ndidi\Wilfred-Ndidi,ng NGA,MF,Leicester City,21,1996,38,37,3296,2,0,0,0,8,0
20,EPL,318,Aleksandar Mitrović\Aleksandar-Mitrovic,rs SRB,FW,Fulham,23,1994,37,37,3280,11,3,1,1,7,0

In [61]:
#Remove Unnecessary Columns From German League and sort data based on best scorer
new_german = german.filter(['Rk','Player','Nation','Pos','Squad','Age','Born','MP','Starts','Min','Gls','Ast','PK','PKatt','CrdY','CrdR'], axis=1)
league = "Bundesliga"
new_german.insert(0, 'League', league)
new_german.reset_index(drop=True, inplace=True)
new_german.index += 1 
new_german.index
new_german.head()

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,Bundesliga,1,Issah Abbas\Issah-Abbas,gh GHA,FW,Mainz 05,19,1998,1,0,9,0,0,0,0,0,0
2,Bundesliga,2,David Abraham\David-Abraham,ar ARG,DF,Eint Frankfurt,32,1986,17,17,1420,0,0,0,0,2,0
3,Bundesliga,3,Amir Abrashi\Amir-Abrashi,al ALB,MF,Freiburg,28,1990,10,9,790,0,0,0,0,5,0
4,Bundesliga,4,Tyler Adams\Tyler-Adams,us USA,MF,RB Leipzig,19,1999,10,8,721,0,2,0,0,0,0
5,Bundesliga,5,Antonis Aidonis\Antonis-Aidonis,de GER,DF,Stuttgart,17,2001,2,1,80,0,0,0,0,1,0

In [95]:
new_german.describe()

,Rk,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
count,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000,474.000000
mean,237.500000,24.829114,1992.810127,17.926160,14.202532,1275.886076,2.012658,1.400844,0.156118,0.191983,2.183544,0.090717
std,136.976275,4.258348,4.305685,10.503036,10.617166,923.520777,3.413047,2.203130,0.647727,0.782377,2.135491,0.301859
min,1.000000,17.000000,1978.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,119.250000,21.000000,1990.000000,9.000000,4.250000,477.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,237.500000,25.000000,1993.000000,19.000000,13.000000,1176.500000,1.000000,0.000000,0.000000,0.000000,2.000000,0.000000
75%,355.750000,28.000000,1996.000000,27.000000,23.000000,2043.000000,3.000000,2.000000,0.000000,0.000000,3.000000,0.000000
max,474.000000,39.000000,2001.000000,34.000000,34.000000,3060.000000,22.000000,14.000000,5.000000,6.000000,10.000000,2.000000

In [60]:
# Bundesliga Top 10 Scorers
new_german = new_german.sort_values('Gls',ascending=False)
new_german.reset_index(drop=True, inplace=True)
new_german.index += 1 
new_german.index
new_german.head(10)

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,Bundesliga,271,Robert Lewandowski\Robert-Lewandowski,pl POL,FW,Bayern Munich,29,1988,33,33,2957,22,7,3,4,2,0
2,Bundesliga,13,Paco Alcácer\Paco-Alcacer,es ESP,FW,Dortmund,24,1993,26,11,1211,18,0,1,1,0,0
3,Bundesliga,185,Kai Havertz\Kai-Havertz,de GER,MFFW,Leverkusen,19,1999,34,33,2894,17,3,3,3,2,0
4,Bundesliga,222,Luka Jović\Luka-Jovic,rs SRB,FWMF,Eint Frankfurt,20,1997,32,25,2243,17,5,1,1,1,0
5,Bundesliga,363,Marco Reus\Marco-Reus,de GER,MFFW,Dortmund,29,1989,27,27,2316,17,8,3,3,3,1
6,Bundesliga,450,Wout Weghorst\Wout-Weghorst,nl NED,FW,Wolfsburg,25,1992,34,33,2925,17,7,4,4,4,0
7,Bundesliga,257,Andrej Kramarić\Andrej-Kramaric,hr CRO,MFFW,Hoffenheim,27,1991,30,28,2396,17,4,5,6,2,0
8,Bundesliga,48,Ishak Belfodil\Ishak-Belfodil,dz ALG,FW,Hoffenheim,26,1992,28,20,1863,16,3,0,0,3,0
9,Bundesliga,455,Timo Werner\Timo-Werner,de GER,FW,RB Leipzig,22,1996,30,29,2509,16,7,0,1,1,0
10,Bundesliga,350,Yussuf Poulsen\Yussuf-Poulsen,dk DEN,FW,RB Leipzig,24,1994,31,27,2451,15,3,0,0,2,0

In [59]:
# Bundesliga Top 20 Players who played the highest number of minutes not matches
new_german = new_german.sort_values('Min',ascending=False)
new_german.reset_index(drop=True, inplace=True)
new_german.index += 1 
new_german.index
new_german.head(20)

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,Bundesliga,238,Joshua Kimmich\Joshua-Kimmich,de GER,DFMF,Bayern Munich,23,1995,34,34,3060,2,13,0,0,4,0
2,Bundesliga,18,Waldemar Anton\Waldemar-Anton,de GER,DF,Hannover 96,22,1996,34,34,3060,1,0,0,0,4,0
3,Bundesliga,469,Ron-Robert Zieler\Ron-Robert-Zieler,de GER,GK,Stuttgart,29,1989,34,34,3060,0,0,0,0,3,0
4,Bundesliga,403,Yann Sommer\Yann-Sommer,ch SUI,GK,M'Gladbach,29,1988,34,34,3060,0,0,0,0,1,0
5,Bundesliga,187,Dominique Heintz\Dominique-Heintz,de GER,DF,Freiburg,24,1993,34,34,3053,1,1,0,0,5,0
6,Bundesliga,118,Maximilian Eggestein\Maximilian-Eggestein,de GER,MF,Werder Bremen,21,1996,34,34,3052,5,4,0,0,4,0
7,Bundesliga,471,Matthias Zimmermann\Matthias-Zimmermann,de GER,DFMF,Düsseldorf,26,1992,34,34,3049,1,3,0,0,4,0
8,Bundesliga,91,Danny da Costa\Danny-da-Costa,de GER,DFMF,Eint Frankfurt,25,1993,34,34,3033,2,4,0,0,1,0
9,Bundesliga,26,Ludwig Augustinsson\Ludwig-Augustinsson,se SWE,DF,Werder Bremen,24,1994,34,34,3026,1,4,0,0,5,0
10,Bundesliga,337,Jiří Pavlenka\Jiri-Pavlenka,cz CZE,GK,Werder Bremen,26,1992,34,34,2977,0,0,0,0,2,0
11,Bundesliga,396,Alexander Schwolow\Alexander-Schwolow,de GER,GK,Freiburg,26,1992,33,33,2970,0,1,0,0,1,0
12,Bundesliga,39,Oliver Baumann\Oliver-Baumann,de GER,GK,Hoffenheim,28,1990,33,33,2970,0,1,0,0,0,0
13,Bundesliga,271,Robert Lewandowski\Robert-Lewandowski,pl POL,FW,Bayern Munich,29,1988,33,33,2957,22,7,3,4,2,0
14,Bundesliga,254,Filip Kostić\Filip-Kostic,rs SRB,DFMF,Eint Frankfurt,25,1992,34,33,2956,6,10,0,0,4,0
15,Bundesliga,420,Jonathan Tah\Jonathan-Tah,de GER,DF,Leverkusen,22,1996,33,33,2937,3,1,0,0,3,0
16,Bundesliga,435,Kevin Trapp\Kevin-Trapp,de GER,GK,Eint Frankfurt,28,1990,33,33,2937,0,0,0,0,2,0
17,Bundesliga,168,Péter Gulácsi\Peter-Gulacsi,hu HUN,GK,RB Leipzig,28,1990,33,33,2925,0,0,0,0,0,0
18,Bundesliga,450,Wout Weghorst\Wout-Weghorst,nl NED,FW,Wolfsburg,25,1992,34,33,2925,17,7,4,4,4,0
19,Bundesliga,185,Kai Havertz\Kai-Havertz,de GER,MFFW,Leverkusen,19,1999,34,33,2894,17,3,3,3,2,0
20,Bundesliga,123,Michael Esser\Michael-Esser,de GER,GK,Hannover 96,30,1987,32,32,2880,0,0,0,0,3,0

In [57]:
#Remove Unnecessary Columns From Spanish League and sort data based on best scorer
new_spanish = spanish.filter(['Rk','Player','Nation','Pos','Squad','Age','Born','MP','Starts','Min','Gls','Ast','PK','PKatt','CrdY','CrdR'], axis=1)
league = "La Liga"
new_spanish.insert(0, 'League', league)
new_spanish = new_spanish.sort_values('Gls',ascending=False)
new_spanish.reset_index(drop=True, inplace=True)
new_spanish.index += 1 
new_spanish.index
new_spanish.head()

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,La Liga,333,Lionel Messi\Lionel-Messi,ar ARG,FW,Barcelona,31.0,1987.0,34,29,2713,36,13,4,5,3,0
2,La Liga,56,Karim Benzema\Karim-Benzema,fr FRA,FW,Real Madrid,30.0,1987.0,36,35,2953,21,6,3,3,1,0
3,La Liga,490,Luis Suárez\Luis-Suarez,uy URU,FW,Barcelona,31.0,1987.0,33,31,2827,21,6,4,4,5,0
4,La Liga,37,Iago Aspas\Iago-Aspas,es ESP,FW,Celta Vigo,30.0,1987.0,27,26,2251,20,6,5,5,5,0
5,La Liga,486,Cristhian Stuani\Cristhian-Stuani,uy URU,FW,Girona,31.0,1986.0,32,30,2729,19,0,5,5,9,0

In [101]:
new_spanish.describe()

,Rk,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
count,544.000000,543.000000,543.000000,544.000000,544.000000,544.000000,544.000000,544.000000,544.000000,544.000000,544.000000,544.000000
mean,272.500000,25.701657,1991.972376,19.470588,15.367647,1380.306985,1.755515,1.187500,0.194853,0.238971,3.608456,0.143382
std,157.183545,4.259928,4.254493,11.600274,11.376082,994.468841,3.524313,1.920556,0.762068,0.886707,3.442129,0.404433
min,1.000000,16.000000,1980.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,136.750000,22.000000,1989.000000,9.000000,5.000000,450.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
50%,272.500000,26.000000,1992.000000,21.000000,15.000000,1353.500000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
75%,408.250000,29.000000,1995.000000,31.000000,25.000000,2201.250000,2.000000,2.000000,0.000000,0.000000,5.250000,0.000000
max,544.000000,37.000000,2001.000000,38.000000,38.000000,3420.000000,36.000000,13.000000,6.000000,7.000000,17.000000,2.000000

In [58]:
# La Liga Top 10 Scorers
new_spanish = new_spanish.sort_values('Gls',ascending=False)
new_spanish.reset_index(drop=True, inplace=True)
new_spanish.index += 1 
new_spanish.index
new_spanish.head(10)

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,La Liga,333,Lionel Messi\Lionel-Messi,ar ARG,FW,Barcelona,31.0,1987.0,34,29,2713,36,13,4,5,3,0
2,La Liga,490,Luis Suárez\Luis-Suarez,uy URU,FW,Barcelona,31.0,1987.0,33,31,2827,21,6,4,4,5,0
3,La Liga,56,Karim Benzema\Karim-Benzema,fr FRA,FW,Real Madrid,30.0,1987.0,36,35,2953,21,6,3,3,1,0
4,La Liga,37,Iago Aspas\Iago-Aspas,es ESP,FW,Celta Vigo,30.0,1987.0,27,26,2251,20,6,5,5,5,0
5,La Liga,486,Cristhian Stuani\Cristhian-Stuani,uy URU,FW,Girona,31.0,1986.0,32,30,2729,19,0,5,5,9,0
6,La Liga,55,Wissam Ben Yedder\Wissam-Ben-Yedder,fr FRA,FW,Sevilla,27.0,1990.0,35,31,2812,18,9,2,2,3,0
7,La Liga,228,Borja Iglesias\Borja-Iglesias,es ESP,FW,Espanyol,25.0,1993.0,37,35,3075,17,3,3,3,5,0
8,La Liga,201,Antoine Griezmann\Antoine-Griezmann,fr FRA,FW,Atlético Madrid,27.0,1991.0,37,37,3198,15,8,3,3,5,0
9,La Liga,500,Raúl de Tomás\Raul-de-Tomas,es ESP,FW,Rayo Vallecano,23.0,1994.0,33,32,2813,14,1,0,0,5,0
10,La Liga,342,Jorge Molina\Jorge-Molina,es ESP,FW,Getafe,36.0,1982.0,38,28,2648,14,5,2,2,2,0

In [56]:
# La Liga Top 20 Players who played the highest number of minutes not matches
new_spanish = new_spanish.sort_values('Min',ascending=False)
new_spanish.reset_index(drop=True, inplace=True)
new_spanish.index += 1 
new_spanish.index
new_spanish.head(20)

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,La Liga,289,Diego López\Diego-Lopez,es ESP,GK,Espanyol,36.0,1981.0,38,38,3420,0,0,0,0,2,0
2,La Liga,377,Jan Oblak\Jan-Oblak,si SVN,GK,Atlético Madrid,25.0,1993.0,37,37,3330,0,0,0,0,1,0
3,La Liga,484,David Soria\David-Soria,es ESP,GK,Getafe,25.0,1993.0,37,37,3330,0,0,0,0,0,0
4,La Liga,270,Víctor Laguardia\Victor-Laguardia,es ESP,DF,Alavés,28.0,1989.0,36,36,3240,1,2,0,0,13,0
5,La Liga,487,Damián Suárez\Damian-Suarez,uy URU,DF,Getafe,30.0,1988.0,36,36,3240,0,3,0,0,13,0
6,La Liga,85,José Campaña\Jose-Campana,es ESP,MF,Levante,25.0,1993.0,36,36,3210,4,9,0,0,11,0
7,La Liga,303,Nemanja Maksimović\Nemanja-Maksimovic,rs SRB,MF,Getafe,23.0,1995.0,36,36,3209,1,0,0,0,4,0
8,La Liga,201,Antoine Griezmann\Antoine-Griezmann,fr FRA,FW,Atlético Madrid,27.0,1991.0,37,37,3198,15,8,3,3,5,0
9,La Liga,297,José Luis Morales\Jose-Luis-Morales,es ESP,FWMF,Levante,31.0,1987.0,37,35,3195,12,5,3,5,7,0
10,La Liga,387,Mikel Oyarzabal\Mikel-Oyarzabal,es ESP,FWMF,Real Sociedad,21.0,1997.0,37,36,3153,13,2,3,3,2,0
11,La Liga,495,Marc-André ter Stegen\Marc-Andre-ter-Stegen,de GER,GK,Barcelona,26.0,1992.0,35,35,3150,0,0,0,0,0,0
12,La Liga,319,Jordi Masip\Jordi-Masip,es ESP,GK,Valladolid,29.0,1989.0,35,35,3150,0,0,0,0,1,0
13,La Liga,388,Fernando Pacheco\Fernando-Pacheco,es ESP,GK,Alavés,26.0,1992.0,35,35,3150,0,0,0,0,3,0
14,La Liga,402,Gerard Piqué\Gerard-Pique,es ESP,DF,Barcelona,31.0,1987.0,35,35,3150,4,2,0,0,6,0
15,La Liga,364,Nacho\Nacho,es ESP,DF,Valladolid,29.0,1989.0,35,35,3150,1,3,0,0,10,0
16,La Liga,296,José Luis Gayà\Jose-Luis-Gaya,es ESP,DF,Valencia,23.0,1995.0,35,35,3137,1,1,0,0,10,0
17,La Liga,347,Álex Moreno\Alex-Moreno,es ESP,DF,Rayo Vallecano,25.0,1993.0,36,36,3136,1,1,0,0,5,0
18,La Liga,81,Fernando Calero\Fernando-Calero,es ESP,DF,Valladolid,22.0,1995.0,36,35,3130,1,0,0,0,7,0
19,La Liga,57,Yuri Berchiche\Yuri-Berchiche,es ESP,DFFW,Athletic Club,28.0,1990.0,35,35,3120,2,2,0,0,8,0
20,La Liga,436,Marc Roca\Marc-Roca,es ESP,MF,Espanyol,21.0,1996.0,35,35,3112,1,2,0,0,9,0

In [55]:
#Merge all dataframes
#new_german.merge(new_english, on='League')
data_frames = [new_german, new_spanish, new_english]
top_leagues=pd.concat(data_frames)
top_leagues.reset_index(drop=True, inplace=True)
top_leagues.index += 1 
top_leagues.index
top_leagues.head()

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,Bundesliga,271,Robert Lewandowski\Robert-Lewandowski,pl POL,FW,Bayern Munich,29.0,1988.0,33,33,2957,22,7,3,4,2,0
2,Bundesliga,13,Paco Alcácer\Paco-Alcacer,es ESP,FW,Dortmund,24.0,1993.0,26,11,1211,18,0,1,1,0,0
3,Bundesliga,450,Wout Weghorst\Wout-Weghorst,nl NED,FW,Wolfsburg,25.0,1992.0,34,33,2925,17,7,4,4,4,0
4,Bundesliga,257,Andrej Kramarić\Andrej-Kramaric,hr CRO,MFFW,Hoffenheim,27.0,1991.0,30,28,2396,17,4,5,6,2,0
5,Bundesliga,185,Kai Havertz\Kai-Havertz,de GER,MFFW,Leverkusen,19.0,1999.0,34,33,2894,17,3,3,3,2,0

In [80]:
#Save Overall File As CSV
top_leagues.to_csv('Top_Leagues.csv')

In [54]:
# Overall Top 10 Scorers
top_leagues = top_leagues.sort_values('Gls',ascending=False)
top_leagues.reset_index(drop=True, inplace=True)
top_leagues.index += 1 
top_leagues.index
top_leagues.head(10)

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,La Liga,333,Lionel Messi\Lionel-Messi,ar ARG,FW,Barcelona,31.0,1987.0,34,29,2713,36,13,4,5,3,0
2,Bundesliga,271,Robert Lewandowski\Robert-Lewandowski,pl POL,FW,Bayern Munich,29.0,1988.0,33,33,2957,22,7,3,4,2,0
3,EPL,405,Mohamed Salah\Mohamed-Salah,eg EGY,FW,Liverpool,26.0,1992.0,38,37,3250,22,8,3,3,1,0
4,EPL,21,Pierre-Emerick Aubameyang\Pierre-Emerick-Aubam...,ga GAB,FW,Arsenal,29.0,1989.0,36,30,2726,22,5,4,5,0,0
5,EPL,288,Sadio Mané\Sadio-Mane,sn SEN,FW,Liverpool,26.0,1992.0,36,35,3077,22,1,0,0,2,0
6,La Liga,56,Karim Benzema\Karim-Benzema,fr FRA,FW,Real Madrid,30.0,1987.0,36,35,2953,21,6,3,3,1,0
7,EPL,2,Sergio Agüero\Sergio-Aguero,ar ARG,FW,Manchester City,30.0,1988.0,33,31,2459,21,8,2,2,4,0
8,La Liga,490,Luis Suárez\Luis-Suarez,uy URU,FW,Barcelona,31.0,1987.0,33,31,2827,21,6,4,4,5,0
9,La Liga,37,Iago Aspas\Iago-Aspas,es ESP,FW,Celta Vigo,30.0,1987.0,27,26,2251,20,6,5,5,5,0
10,La Liga,486,Cristhian Stuani\Cristhian-Stuani,uy URU,FW,Girona,31.0,1986.0,32,30,2729,19,0,5,5,9,0

In [53]:
# La Liga Top 20 Players who played the highest number of minutes not matches
top_leagues = top_leagues.sort_values('Min',ascending=False)
top_leagues.reset_index(drop=True, inplace=True)
top_leagues.index += 1 
top_leagues.index
top_leagues.head(20)

,League,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,Gls,Ast,PK,PKatt,CrdY,CrdR
1,EPL,153,Ben Foster\Ben-Foster,eng ENG,GK,Watford,35.0,1983.0,38,38,3420,0,0,0,0,1,0
2,EPL,369,Jordan Pickford\Jordan-Pickford,eng ENG,GK,Everton,24.0,1994.0,38,38,3420,0,0,0,0,1,0
3,EPL,142,Łukasz Fabiański\Lukasz-Fabianski,pl POL,GK,West Ham,33.0,1985.0,38,38,3420,0,0,0,0,0,0
4,EPL,166,David de Gea\David-de-Gea,es ESP,GK,Manchester Utd,27.0,1990.0,38,38,3420,0,0,0,0,1,0
5,EPL,308,Ben Mee\Ben-Mee,eng ENG,DF,Burnley,28.0,1989.0,38,38,3420,0,2,0,0,9,0
6,EPL,413,Kasper Schmeichel\Kasper-Schmeichel,dk DEN,GK,Leicester City,31.0,1986.0,38,38,3420,0,0,0,0,3,0
7,EPL,135,Ederson\Ederson,br BRA,GK,Manchester City,24.0,1993.0,38,38,3420,0,1,0,0,2,0
8,EPL,140,Neil Etheridge\Neil-Etheridge,ph PHI,GK,Cardiff City,28.0,1990.0,38,38,3420,0,0,0,0,2,0
9,EPL,88,Conor Coady\Conor-Coady,eng ENG,DF,Wolves,25.0,1993.0,38,38,3420,0,0,0,0,5,0
10,EPL,7,Alisson\Alisson,br BRA,GK,Liverpool,25.0,1992.0,38,38,3420,0,0,0,0,1,0
11,La Liga,289,Diego López\Diego-Lopez,es ESP,GK,Espanyol,36.0,1981.0,38,38,3420,0,0,0,0,2,0
12,EPL,128,Martin Dúbravka\Martin-Dubravka,sk SVK,GK,Newcastle Utd,29.0,1989.0,38,38,3420,0,0,0,0,1,0
13,EPL,314,Luka Milivojević\Luka-Milivojevic,rs SRB,MF,Crystal Palace,27.0,1991.0,38,38,3420,12,2,10,11,10,0
14,EPL,3,Nathan Aké\Nathan-Ake,nl NED,DF,Bournemouth,23.0,1995.0,38,38,3411,4,0,0,0,3,0
15,EPL,26,César Azpilicueta\Cesar-Azpilicueta,es ESP,DF,Chelsea,28.0,1989.0,38,38,3402,1,5,0,0,4,0
16,EPL,123,Virgil van Dijk\Virgil-van-Dijk,nl NED,DF,Liverpool,27.0,1991.0,38,38,3384,4,2,0,0,1,0
17,EPL,134,Bruno Ecuele Manga\Bruno-Ecuele-Manga,ga GAB,DF,Cardiff City,30.0,1988.0,38,37,3376,0,1,0,0,0,0
18,La Liga,484,David Soria\David-Soria,es ESP,GK,Getafe,25.0,1993.0,37,37,3330,0,0,0,0,0,0
19,La Liga,377,Jan Oblak\Jan-Oblak,si SVN,GK,Atlético Madrid,25.0,1993.0,37,37,3330,0,0,0,0,1,0
20,EPL,361,Rui Patrício\Rui-Patricio,pt POR,GK,Wolves,30.0,1988.0,37,37,3329,0,0,0,0,1,0

In [93]:
#total_goal_per_team

goals = top_leagues.groupby('Squad') 
overall_info = goals[['MP','Min','Gls','Ast','PK','CrdY','CrdR']]
overall_info.sum()

                  MP    Min  Gls  Ast  PK  CrdY  CrdR
Squad
Alavés           531  37553   39   27   2   101     1
Arsenal          531  37564   69   52   4    73     2
Athletic Club    531  37548   38   26   5   120     4
Atlético Madrid  523  37456   52   36   3   103     5
Augsburg         468  33659   50   33   5    55     1
Barcelona        530  37554   88   61   8    77     2
Bayern Munich    476  33625   86   62   3    42     2
Betis            531  37609   43   30   5    89     1
Bournemouth      522  37590   55   43   7    60     1
Brighton         517  37459   35   24   5    61     4
Burnley          504  37619   43   32   2    75     1
Cardiff City     527  37587   33   20   3    66     1
Celta Vigo       528  37482   52   37   7    84     6
Chelsea          531  37620   61   52   5    49     0
Crystal Palace   510  37600   48   33  10    58     2
Dortmund         474  33587   80   60   4    40     3
Düsseldorf       471  33651   48   35   5    67     1
Eibar            529  37572   46   26   7    82     2
Eint Frankfurt   467  33530   60   42   4    58     3
Espanyol         532  37618   44   26   4    92     2
Everton          529  37493   53   34   2    56     4
Freiburg         475  33607   44   25   5    54     3
Fulham           526  37579   33   24   2    70     2
Getafe           532  37533   47   34   6   111     7
Girona           531  37532   37   23   6    83     4
Hannover 96      471  33527   30   20   3    61     4
Hertha BSC       466  33585   49   32   4    64     5
Hoffenheim       474  33584   69   49   6    67     2
Huddersfield     525  37412   20   13   1    56     4
Huesca           529  37603   43   28   6   114     3
Leganés          530  37539   36   25   3   106     4
Leicester City   529  37395   48   34   5    60     5
Levante          531  37513   56   39   5   112     7
Leverkusen       467  33649   68   51   4    50     1
Liverpool        527  37609   86   55   7    39     2
M'Gladbach       476  33660   53   43   4    43     0
Mainz 05         476  33660   44   30   3    56     0
Manchester City  526  37618   91   71   3    44     1
Manchester Utd   530  37553   65   40   9    75     4
Newcastle Utd    517  37561   41   33   1    57     2
Nürnberg         470  33440   25   16   2    58     4
RB Leipzig       474  33659   63   41   5    61     1
Rayo Vallecano   529  37470   40   24   5   106     8
Real Madrid      530  37502   61   39   9    83     6
Real Sociedad    528  37542   44   27   8    82     4
Schalke 04       471  33551   37   23   7    72     5
Sevilla          529  37494   61   47   5   118     6
Southampton      525  37554   44   27   4    73     3
Stuttgart        475  33565   32   26   1    64     5
Tottenham        524  37523   66   47   4    57     3
Valencia         526  37559   50   38   5    90     3
Valladolid       531  37620   31   19   4    92     0
Villarreal       531  37588   47   34   3   118     3
Watford          521  37437   51   39   1    79     4
Werder Bremen    475  33571   57   38   4    61     3
West Ham         531  37567   51   33   5    59     1
Wolfsburg        471  33660   59   38   5    62     0
Wolves           528  37548   46   35   4    73     1

In [82]:
goals = top_leagues.groupby('League') 
overall_info = goals[['MP','Min','Gls','Ast','PK','CrdY','CrdR']]
overall_info.sum()

               MP     Min   Gls  Ast   PK  CrdY  CrdR
League
Bundesliga   8497  604770   954  664   74  1035    43
EPL         10480  750888  1039  741   84  1240    47
La Liga     10592  750887   955  646  106  1963    78